.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.breadcrumb {
  margin-top: 1rem;
}

.breadcrumbList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumbLink {
  color: var(--ifm-color-primary-lightest);
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

.breadcrumbCurrent {
  color: var(--ifm-color-white);
  font-weight: 500;
}

.breadcrumbSeparator {
  margin: 0 0.5rem;
  color: var(--ifm-color-primary-lighter);
}